* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-image: url('img/altre/sfondo.png');
    background-size: cover;
}

main {
    padding-top: 120px;
    width: 100%;
    height: 100vh;
    position: relative;
}

header {
    height: 70px;
    width: 100%;
    background-color: #4267b2;
    position: fixed;
    z-index: 5;
}

header #logo {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: inline-block;
    width: 670px;
    height: 700px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#logo_xbox{
    width: 250px;
    height: 78px;
    display: inline-block;
    background-image: url('img/vg/xbox_logo.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -38px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid #107b10;
    padding: 20px;
}

.switch {
    position: relative;
    margin-top: 20px;
}

#logo_switch{
    width: 250px;
    height: 80px;
    display: inline-block;
    background-image: url('https://www.nicepng.com/png/detail/440-4403688_logo-switch-png-nintendo-switch-logo-png.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid red;
}

.prodotto {
    margin-left: 15px;
    margin-bottom: 15px;
    display: inline-block;
    width: 200px;
    height: 250px;
    background-position: center;
    border-radius: 5px;
    margin-top: 60px;
    position: relative;
}

.xbox .prodotto {
    border: 3px solid #107b10;
}

.switch .prodotto {
    border: 3px solid red;
    margin-top: 109px;
}

/* Lista prodotti per mettere immagini */
#prodotto1{
    background-image: url("img/vg/gta.jpg");
    background-size: cover;
}
#prodotto2{
    background-image: url("img/vg/minecraft.jpg");
    background-size: cover;
}
#prodotto3{
    background-image: url("img/vg/wolfenstein.jpg");
    background-size: cover;
}
#prodotto4{
    background-image: url("img/vg/mario_maker.jpg");
    background-size: cover;
}
#prodotto5{
    background-image: url("img/vg/witcher.jpg");
    background-size: cover;
}
#prodotto6{
    background-image: url("img/vg/dragon_ball.jpg");
    background-size: cover;
}
/* Lista prodotti per mettere immagini */
.opaco {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.opaco .cart {
    opacity: 0;
    font-size: 70px;
    display: inline-block;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: white;
}

.prodotto:hover .opaco {
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 1s;
}

.prodotto:hover .cart{
    opacity: 1;
    transition-duration: 1s;
}

.sconto {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: lawngreen;
    border: 1.5px solid white;
    position: absolute;
    top: 7px;
    right: 7px;
}

.sconto p {
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translatey(-50%);
    color: white;
    font-size: 21px;
}
